<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-contact.css">
    <title>Document</title>
</head>
<body>
<header class="header-container header-sticky ">
    <div class=" menu-top pt-35 pb-35 pt-sm-20 pb-sm-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-3 col-md-3 text-center text-md-left my-sm-2">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/">
                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0087/9722/5060/files/logo2_300x300.png?v=1544863129" alt="Pataku Demo">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-5 mb-sm-20 my-sm-2">
                    <div class="m-auto">
                        <form action="/search" method="get">
                            <div class="search-bar">
                                <input type="search" name="q" value="" placeholder="Tìm kiếm sản phẩm ...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-4 mt-sm-3 d-flex justify-content-md-end justify-content-center">
                    <div class="phone-div">Liên hệ <strong> +088888888</strong></div>
                    <div class="icon-phone"><i class="fas fa-2x fa-phone"></i></div>

                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom navigation-menu ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                    <div>
                        <div class="navleft-container hidden-md-down ">
                            <div class="megamenu">
                                <div class="megamenu_title">
                                    <input id="checkbox-toggle" class="d-none" type="checkbox">
                                    <h2><i class="fas fa-bars"></i><strong class="ml-2">Danh Mục Sản Phẩm</strong><span class="text-right float-right"><i class="fas fa-angle-down"></i></span></h2>
                                </div>
                                <div id="megamenu" class="megamenu-drop position-absolute">
                                    <div class="item-menu item-menu-hover">
                                        <input class="d-none" id="checkbox4" type="checkbox">
                                        <label id="checkbox4" class="title-item-menu w-100 d-block"><img src="img/water.png" alt="">Chai Nhựa<i class="fas fa-angle-right"></i></label>

                                        <div class="popup">
                                            <ul>
                                                <li><a href="">Chai đựng đồ uống</a></li>
                                                <li><a href="">Chai đựng chất hóa học</a></li>
                                                <li><a href="">Chai đựng dược phẩm</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="item-menu item-menu-hover">
                                        <div class="title-item-menu w-100 "><img src="img/milk-bottle.png" alt="">Lọ Nhựa<i class="fas fa-angle-right"></i></div>
                                        <div class="popup">
                                            <ul >
                                                <li><a href="">Lọ gia vị</a></li>
                                                <li><a href="">Lọ đựng chất hóa học</a></li>
                                                <li><a href="">Lọ đựng mỹ phẩm</a></li>
                                                <li><a href="">Lọ trang trí</a></li>
                                                <li><a href="">Lọ thực phẩm</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-menu item-menu-hover">
                                        <div style="border-bottom: 0;" class="title-item-menu w-100 "><img src="img/butter.png" alt="">Hũ Nhựa<i class="fas fa-angle-right"></i></div>
                                        <div class="popup">
                                            <ul >
                                                <li><a href="">Bình đựng nước</a></li>
                                                <li><a href="">Bình dựng rượu</a></li>
                                                <li><a href="">Bình đựng chất hóa học</a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                    <nav>
                        <ul>
                            <li class=""><a href="/">Trang chủ</a></li>
                            <li class=""><a href="/products/1">Sản phẩm</a></li>
                            <li class=""><a href="/about-us">Về Chúng Tôi</a></li>
                            <li class="active"><a href="/contact">Liên Hệ</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <div class="scroll-nav shadow"><div class="navigation-menu ">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                        <div>
                            <div class="navleft-container hidden-md-down ">
                                <div class="megamenu">
                                    <div class="megamenu_title" for="toggle">
                                        <input id="checkbox-toggle" class="d-none" type="checkbox">
                                        <h2><i class="fas fa-bars"></i><strong class="ml-2">Danh Mục Sản Phẩm</strong><span class="text-right float-right"><i class="fas fa-angle-down"></i></span></h2>
                                    </div>
                                    <div id="megamenu" class="megamenu-drop position-absolute">
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/water.png" alt="">Chai Nhựa<i class="fas fa-angle-right"></i></div>
                                            <div class="popup bg-danger float-left position-absolute"><br><br></div>
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/milk-bottle.png" alt="">Lọ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/butter.png" alt="">Hũ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                        <nav>
                            <ul>
                                <li class=""><a href="/">Trang chủ</a></li>
                                <li class="active menu-item-has-children"><a href="/">Sản phẩm</a></li>
                                <li class=""><a href="/">Về Chúng Tôi</a></li>
                                <li class=""><a href="/contact">Liên Hệ</a></li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--=======  End of navigation menu  =======-->
</header>
<div class="breadcrumb">
    <div class="container">
        <div class="mybreadcrumb">
            <a href="/">Trang chủ</a>
            <span>&nbsp;&gt;&nbsp;</span>
            <a href="/about-us">Về chúng tôi</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center text-center mb-5 mt-5">
        <div class="col-md-7">
            <h2 class="font-weight-bold">BẢN ĐỒ</h2>
        </div>
    </div>
    <iframe width="100%" height="500px"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096707985379!2d105.77964481486173!3d21.028816135998333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbfa96f309f%3A0x7917af0f83effe1b!2sFPT+University+Hanoi!5e0!3m2!1sen!2s!4v1546974348745"
            class=" map" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="row justify-content-center text-center mb-5 mt-5  contact-infor-boder-top">
        <div class="col-md-7">
            <h2 class="font-weight-bold mt-5">LIÊN HỆ VỚI CHÚNG TÔI</h2>
            <p class="mt-4">Nếu bạn cần hỗ trợ thì dưới đây là những thông tin cần thiết dành cho bạn, hãy liên hệ với
                chúng tôi nếu bạn gặp bất cứ thắc mắc hay khó khăn gì với sản phẩm, chức năng hay bất kỳ điều gì trên
                website này.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3 mb-5 mb-md-0">
            <div class="media contact-infor">
                <span class="contact-infor-icon">
                   <i class="fas fa-home"></i>
                </span>
                <div class="media-body">
                    <h3 class="ml-4">Địa chỉ</h3>
                    <p class="justify-content-center ">Số 8, Tòa nhà Detech, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, Hà Nội </p>
                </div>
            </div>
            <div class="media contact-infor">
                <span class="contact-infor-icon">
                   <i class="fas fa-phone"></i>
                </span>
                <div class="media-body">
                    <h3 class="ml-4">Điện thoại</h3>
                    <p class="justify-content-center ">+088888888</p>
                </div>
            </div>
            <div class="media contact-infor">
                <span class="contact-infor-icon">
                  <i class="fas fa-envelope"></i>
                </span>
                <div class="media-body">
                    <h3 class="ml-4">Email</h3>
                    <p class="justify-content-center ">petbot@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <form action="#" id="form-contact" class="form-contact" method="post">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <input type="text" class="form-control " name="nameContact"
                                   placeholder="Nhập họ và tên của bạn.">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control mt-4" name="emailContact"
                                   placeholder="Nhập email của bạn.">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-4" name="numberPhoneContact"
                                   placeholder="Nhập số điện thoại của bạn.">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="form-group">
                            <textarea class="form-control w-100" name="messageContact" id="message" cols="30" rows="6"
                                      placeholder="Nhập tin nhắn."></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center text-md-right button-active">
                    <button type="submit" value="submit" class=" btn btn-outline-dark button-contact-form">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<Footer>-->
<% include include/footer.ejs%>
<!--</Footer>-->

<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script src="/js/lib/jquery.validate.min.js"></script>
<script src="/js/myjs.js"></script>

<script>

    $(document).ready(function () {
        $("#form-contact").validate({
            rules: {
                nameContact: {
                    required: true,
                    minlength: 2,
                    maxlength: 40
                },
                emailContact: {
                    required: true,
                    minlength: 2,
                    maxlength: 50,
                    email: true
                },
                numberPhoneContact: {
                    required: true,
                    minlength: 10,
                    maxlength: 11
                },
                messageContact: {
                    required: true,
                    minlength: 5,
                }
            },
            messages: {
                nameContact: {
                    required: "*Vui lòng nhập họ và tên của bạn.",
                    minlength: "*Vui lòng nhập đúng họ và tên của bạn.",
                    maxlength: "*Vui lòng nhập đúng họ và tên của bạn."
                },
                emailContact: {
                    required: "*Vui lòng nhập Email.",
                    minlength: "*Vui lòng nhập đúng Email.",
                    maxlength: "*Vui lòng nhập đúng Email",
                    email: "*Vui lòng nhập đúng định dạng Email."
                },
                numberPhoneContact: {
                    required: "*Vui lòng nhập số điện thoại.",
                    minlength: "*Vui lòng nhập đúng số điện thoại.",
                    maxlength: "*Vui lòng nhập đúng số điện thoại."
                },
                messageContact: {
                    required: "*Vui lòng nhập tin nhắn.",
                    minlength: "*Tin nhắn quá ngắn."
                }
            }
        })
    });

</script>

</body>
</html>