
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-contact.css">
    <title>Document</title>
</head>
<body>

<!--<Header>-->
<% include include/header.ejs%>
<!--</Header>-->
<div class="bg-contact">
<div class="breadcrumb">
    <div class="container">
        <div class="mybreadcrumb">
            <a href="/">Trang chủ</a>
            <span>&nbsp;&gt;&nbsp;</span>
            <a href="/about-us">Về chúng tôi</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center text-center mb-5 mt-5">
        <div class="col-md-7">
            <h2 class="font-weight-bold">BẢN ĐỒ</h2>
        </div>
    </div>
    <iframe width="100%" height="500px"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096707985379!2d105.77964481486173!3d21.028816135998333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbfa96f309f%3A0x7917af0f83effe1b!2sFPT+University+Hanoi!5e0!3m2!1sen!2s!4v1546974348745"
            class=" map" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="row justify-content-center text-center mb-5 mt-5  contact-infor-boder-top">
        <div class="col-md-7">
            <h2 class="font-weight-bold mt-5">LIÊN HỆ VỚI CHÚNG TÔI</h2>
            <p class="mt-4">Nếu bạn cần hỗ trợ thì dưới đây là những thông tin cần thiết dành cho bạn, hãy liên hệ với
                chúng tôi nếu bạn gặp bất cứ thắc mắc hay khó khăn gì với sản phẩm, chức năng hay bất kỳ điều gì trên
                website này.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3 mb-5 mb-md-0">
            <div class="media contact-infor">
                <span class="contact-infor-icon">
                   <i class="fas fa-home"></i>
                </span>
                <div class="media-body">
                    <h3 class="ml-4">Địa chỉ</h3>
                    <p class="justify-content-center ">Số 8, Tòa nhà Detech, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, Hà Nội </p>
                </div>
            </div>
            <div class="media contact-infor">
                <span class="contact-infor-icon">
                   <i class="fas fa-phone"></i>
                </span>
                <div class="media-body">
                    <h3 class="ml-4">Điện thoại</h3>
                    <p class="justify-content-center ">+088888888</p>
                </div>
            </div>
            <div class="media contact-infor">
                <span class="contact-infor-icon">
                  <i class="fas fa-envelope"></i>
                </span>
                <div class="media-body">
                    <h3 class="ml-4">Email</h3>
                    <p class="justify-content-center ">petbot@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <form action="#" id="form-contact" class="form-contact" method="post">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <input type="text" class="form-control " name="nameContact"
                                   placeholder="Nhập họ và tên của bạn.">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control mt-4" name="emailContact"
                                   placeholder="Nhập email của bạn.">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-4" name="numberPhoneContact"
                                   placeholder="Nhập số điện thoại của bạn.">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="form-group">
                            <textarea class="form-control w-100" name="messageContact" id="message" cols="30" rows="6"
                                      placeholder="Nhập tin nhắn."></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center text-md-right button-active">
                    <button type="submit" value="submit" class=" btn btn-outline-dark button-contact-form">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--<Footer>-->
<% include include/footer.ejs%>
<!--</Footer>-->

<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script src="/js/lib/jquery.validate.min.js"></script>
<script src="/js/myjs.js"></script>

<!--Thêm class active cho navbar trang contact-->
<script>
    $('.nav-bar li:nth-child(4)').addClass('active')
</script>

<script>

    $(document).ready(function () {
        $("#form-contact").validate({
            rules: {
                nameContact: {
                    required: true,
                    minlength: 2,
                    maxlength: 40
                },
                emailContact: {
                    required: true,
                    minlength: 2,
                    maxlength: 50,
                    email: true
                },
                numberPhoneContact: {
                    required: true,
                    minlength: 10,
                    maxlength: 11
                },
                messageContact: {
                    required: true,
                    minlength: 5,
                }
            },
            messages: {
                nameContact: {
                    required: "*Vui lòng nhập họ và tên của bạn.",
                    minlength: "*Vui lòng nhập đúng họ và tên của bạn.",
                    maxlength: "*Vui lòng nhập đúng họ và tên của bạn."
                },
                emailContact: {
                    required: "*Vui lòng nhập Email.",
                    minlength: "*Vui lòng nhập đúng Email.",
                    maxlength: "*Vui lòng nhập đúng Email",
                    email: "*Vui lòng nhập đúng định dạng Email."
                },
                numberPhoneContact: {
                    required: "*Vui lòng nhập số điện thoại.",
                    minlength: "*Vui lòng nhập đúng số điện thoại.",
                    maxlength: "*Vui lòng nhập đúng số điện thoại."
                },
                messageContact: {
                    required: "*Vui lòng nhập tin nhắn.",
                    minlength: "*Tin nhắn quá ngắn."
                }
            }
        })
    });

</script>

</body>
</html>