<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Cantarell|Noticia+Text|Nunito|PT+Serif|Playfair+Display|Source+Serif+Pro|Vollkorn" rel="stylesheet">
</head>
<body>
<header class="header-container header-sticky">
    <div class=" menu-top pt-35 pb-35 pt-sm-20 pb-sm-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-3 col-md-3 text-center text-md-left my-sm-2">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/">
                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0087/9722/5060/files/logo2_300x300.png?v=1544863129" alt="Pataku Demo">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-5 mb-sm-20 my-sm-2">
                    <div class="m-auto">
                        <form action="/search" method="get">
                            <div class="search-bar">
                                <input type="search" name="q" value="" placeholder="Search ...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-12 col-lg-3 col-md-4 mt-sm-3 d-flex justify-content-md-end justify-content-center">
                    <div class="phone-div">Call Us <strong> +088888888</strong></div>
                    <div class="icon-phone"><i class="fas fa-2x fa-phone"></i></div>

                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom navigation-menu ">
        <div class="container">
            <div class="row">
                <div class="col col-md-5 col-lg-4 col-xl-3">
                    <div>
                        <div class="navleft-container hidden-md-down ">
                            <div class="megamenu">
                                <div class="megamenu_title" for="toggle">
                                    <input id="checkbox-toggle" class="d-none" type="checkbox">
                                    <h2><i class="fas fa-bars"></i><strong class="ml-2">Danh Mục Sản Phẩm</strong><span class="text-right float-right"><i class="fas fa-angle-down"></i></span></h2>
                                </div>
                                <div id="megamenu" class="megamenu-drop position-absolute">
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/water.png" alt="">Chai Nhựa<i class="fas fa-angle-right"></i></div>
                                            <div class="popup bg-danger float-left position-absolute"><br><br></div>
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/milk-bottle.png" alt="">Lọ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/butter.png" alt="">Hũ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>


                                </div>
                                    <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-7 col-lg-8 col-xl-9">
                    <nav>
                        <ul>
                            <li class="active menu-item-has-children"><a href="/">Home</a></li>
                            <li class=" menu-item-has-children"><a href="/">Product</a></li>
                            <li class=" menu-item-has-children"><a href="/">Pages</a></li>
                            <li class=""><a href="/">Blog</a></li>
                            <li class=""><a href="/">Contact</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <div class="scroll-nav shadow"><div class="navigation-menu ">
            <div class="container">
                <div class="row">
                    <div class="col col-md-5 col-lg-4 col-xl-3">
                        <div>
                            <div class="navleft-container hidden-md-down ">
                                <div class="megamenu">
                                    <div class="megamenu_title" for="toggle">
                                        <input id="checkbox-toggle" class="d-none" type="checkbox">
                                        <h2><i class="fas fa-bars"></i><strong class="ml-2">Danh Mục Sản Phẩm</strong><span class="text-right float-right"><i class="fas fa-angle-down"></i></span></h2>
                                    </div>
                                    <div id="megamenu" class="megamenu-drop position-absolute">
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/water.png" alt="">Chai Nhựa<i class="fas fa-angle-right"></i></div>
                                            <div class="popup bg-danger float-left position-absolute"><br><br></div>
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/milk-bottle.png" alt="">Lọ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/butter.png" alt="">Hũ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>

                                        <!--<div><i class="fas fa-wine-bottle"></i> <img src="img/milk-bottle.png" alt="">Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i> <img src="img/butter.png" alt="">Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i>Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i>Chai Nhựa</div>-->
                                        <!--<ul>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Chai Nhựa</li>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Lọ Nhựa</li>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Bình Nhựa</li>-->
                                        <!--<li></li>-->
                                        <!--</ul>-->
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-7 col-lg-8 col-xl-9">
                        <nav>
                            <ul>
                                <li class="active menu-item-has-children"><a href="/">Home</a></li>
                                <li class=" menu-item-has-children"><a href="/">Product</a></li>
                                <li class=" menu-item-has-children"><a href="/">Pages</a></li>
                                <li class=""><a href="/">Blog</a></li>
                                <li class=""><a href="/">Contact</a></li>
                                <li class=""><div id="test" style="width: 50px;height: 50px;"></div></li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--=======  End of navigation menu  =======-->
</header>
<div class="slide-show py-4">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators p-carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item p-carousel-item active">
                    <div class="carousel-title p-carousel-title">
                        <div class="carousel-box-title">
                            <p>dolor sit</p>
                            <h1>Sản phẩm chất lượng , bền , đẹp .</h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>

                    </div>
                    <img class="d-block" src="img/imgdemo1.png" alt="First slide">
                </div>
                <div class="carousel-item p-carousel-item">
                    <div class="carousel-title p-carousel-title">
                        <div class="carousel-box-title">
                            <p>dolor sit</p>
                            <h1>Sản phẩm chất lượng , bền , đẹp .</h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>
                    </div>
                    <img class="d-block" src="img/imgdemo2.png" alt="Second slide">
                </div>
                <div class="carousel-item p-carousel-item">
                    <div class="carousel-title p-carousel-title">
                        <div class="carousel-box-title">
                            <p>dolor sit</p>
                            <h1>Sản phẩm chất lượng , bền , đẹp . </h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>
                    </div>
                    <img class="d-block" src="img/imgdemo3.png" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<section>
    <div class="static2">
        <div class="container">
            <div class="title">
                <h2>Featured <span>Categories</span></h2>
                <p>Show all featured categories with products on home page.</p>
            </div>
            <div class="row">
                <div class="box1 col col-lg-6 col-md-12 col-xs-12">
                    <div class="top">
                        <div class="iner-box">
                            <div class="banner-box"><a href="#"><div class="f-products-box" style="width: 540px; height: 270px;">
                                        <img src="img/imgdemo1.png" alt="" class="img-responsive">
                                    </div></a></div>
                            <!--<a href="#" class="text"><span>Rooms</span></a>-->
                        </div>
                    </div>
                    <div class="bottom row">
                        <div class="box1 col col-lg-6 col-md-12 col-xs-12">
                            <div class="iner-box">
                                <div class="banner-box"><a href="#"><div class="f-products-box"  style="width: 260px; height: 270px;">
                                            <img src="img/imgdemo2.png" alt="" class="img-responsive">
                                        </div></a></div>
                                <!--<a href="#" class="text"><span>lighting</span></a>-->
                            </div>
                        </div>
                        <div class="box2 col col-lg-6 col-md-12 col-xs-12">
                            <div class="iner-box">
                                <div class="banner-box"><a href="#"><div class="f-products-box"  style="width: 260px; height: 270px;">
                                            <img src="img/imgdemo3.png" alt="" class="img-responsive">
                                        </div></a></div>
                                <!--<a href="#" class="text"><span>decor</span></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box2 col col-lg-6 col-md-12 col-xs-12">
                    <div class="iner-box">
                        <div class="banner-box"><a href="#"><div class="f-products-box"  style="width: 540px;height: 560px;">
                                    <img src="img/imgdemo5.png" alt="" class="img-responsive"></div> </a></div>
                        <!--<a href="#" class="text"><span>Furniture</span></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<br>
<br>
<br>
<br>
<br>
<footer>
    <div class="splitter"></div>
    <!-- three footer columns are here -->
    <ul>
        <li class="vechungtoi">

            <div class="icon" data-icon="V"></div>
            <div class="text">
                <h4>Về chúng tôi</h4>
                <p class="text-justify">PETBot là một trong những doanh nghiệp nổi tiếng tham gia vào
                    sản xuất, cung cấp và xuất khẩu nhiều loại Chai PET / PP / PC. Các
                    công ty có các đơn vị sản xuất hiện đại của chai PET.
                    Họ có nhà máy sản xuất chai PET. Có sẵn ở dạng tùy chỉnh, máy của họ
                    được sử dụng bởi một số công ty sản xuất để làm nước uống đóng gói,
                    hóa chất gia dụng, dược phẩm, dầu ăn, rượu, chăm sóc thỏ, thuốc trừ sâu, vv</p>
                <a href="#">Xem thêm</a>
            </div>
        </li>
        <li>
            <div class="icon" data-icon="s"></div>
            <div class="text">
                <h4>Cloud</h4>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristilicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
            </div>
        </li>
    </ul>


    <div class="bar">
        <div class="bar-wrap">
            <ul class="links"> <!-- footer menu -->
                <li><a class="cuoi" href="#">Home</a></li>
                <li><a class="cuoi" href="#">Products</a></li>
                <li><a class="cuoi" href="#">Detail</a></li>
            </ul>
            <a href="#" class="rss">
                <span class="info col-sm-3">
                    <span class="follow">liên hệ qua </span>
                    <span class="num">wed</span>
                    <!--<ul class="social-icons">-->
                        <li class="footer"><a class="facebook" href="#"><i class="fa fa-facebook"></i></a><a class="mxh" href="#"> wwwfaceboook.com</a></li>
                        <li class="footer"><a class="twitter" href="#"><i class="fa fa-twitter"></i></a><a class="mxh" href="#"> wwwtwitter.com</a></li>
                        <li class="footer"><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a><a class="mxh" href="#"> wwwfaceboook.com</a></li>
                    <!--</ul>-->
                        </span>
            </a>
            <div class="social col col-md-5 col-lg-9">
                <a href="#" class="fb">
                    <span data-icon="contact" class="icon"></span>
                    <span class="info">
                        <span class="follow"></span>
                        <span class="num">
                        <span class="linkconstact">Constact</span>
                                <li class="link"><a href="http://scanfcode.com/contribute-at-scanfcode/"><i class="fa fa-phone" aria-hidden="true"></i><span class="ml-2">0123456789</span></a></li></span>
                        <li class="link"><a href="http://scanfcode.com/about/"><i class="fa fa-home" aria-hidden="true"></i><span class="ml-2">Hà Nội</span></a></li>
                        <li class="link"><a href="http://scanfcode.com/contact/"><i class="fa fa-envelope" aria-hidden="true"></i><span class="ml-2">petbot@gmail.com</span></a></li>
                    </span>
                </a>
                <!---->
            </div>
            <div class="clear"></div>
            <div class="copyright">&copy;  2019 All KANP Team</div>
        </div>
    </div>
</footer>
<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/myjs.js"></script>
</body>
</html>