<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-category.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>

<!--<Header>-->
<% include include/header.ejs%>
<!--</Header>-->

<div class="slide-show py-4">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators p-carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item p-carousel-item row active">
                    <div class="carousel-title col-6 p-carousel-title">
                        <div class="carousel-box-title">
                            <p>PETbot</p>
                            <h1>Sản phẩm chất lượng, bền, đẹp.</h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>

                    </div>
                    <div class="carousel-box-img col-6">
                        <img class="d-block" src="img/4caichai.jpg" alt="Second slide">
                    </div>
                </div>
                <div class="carousel-item p-carousel-item row">
                    <div class="carousel-title  col-6 p-carousel-title">
                        <div class="carousel-box-title">
                            <p>PETbot</p>
                            <h1>An toàn, hợp vệ sinh</h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>
                    </div>
                    <div class="carousel-box-img col-6">
                        <img class="d-block" src="img/4caichai.jpg" alt="Second slide">
                    </div>
                </div>
                <div class="carousel-item p-carousel-item row">
                    <div class="carousel-title col-6 p-carousel-title">
                        <div class="carousel-box-title">
                            <p>PETbot</p>
                            <h1>gia công số lượng lớn </h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>
                    </div>
                    <div class="carousel-box-img col-6">
                        <img class="d-block" src="img/5caichai.jpg" alt="Second slide">
                    </div>
                </div>
            </div>
            <div class="btn-prev-carousel" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left"></i>
            </div>
            <div class="btn-next-carousel" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</div>
<section class="my-5">
    <div class="main-products">
        <div class="container border-bottom">
            <div class="row">
                <div class="main-products-title text-center w-100 mb-4">
                    <h2 class="pl-3">Sản Phẩm Chính</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4 col-sm-6">
                    <div class="card h-100">
                        <img class="card-img-top" src="/img/main-products/index-img.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Chai nước giải khát 38mm</h5>
                            <p class="card-text">Với nội dung trà hoặc nước trái cây chất lượng cao, hộp đựng trong suốt ...</p>
                            <div class="box-read-more">
                                <a href="#" class="btn">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <div class="card h-100">
                        <img class="card-img-top" src="/img/main-products/index-img_1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Sê-ri miệng rộng 53mm</h5>
                            <p class="card-text">Sê-ri 53mm, có độ trong suốt như pha lê, chất lượng nhẹ để mang theo và dễ dàng ...</p>
                            <div class="box-read-more">
                                <a href="#" class="btn">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 col-sm-6">
                    <div class="card h-100">
                        <img class="card-img-top" src="/img/main-products/index-img_2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Dòng hũ nhựa dễ mở</h5>
                            <p class="card-text">Chúng tôi cung cấp các sản phẩm chai nhựa chất lượng cao được làm bằng ...</p>
                            <div class="box-read-more">
                                <a href="#" class="btn">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--<Footer>-->
<% include include/footer.ejs%>
<!--</Footer>-->

<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/myjs.js"></script>

<!--Thêm class active cho navbar trang home-->
<script>
    $('.nav-bar li:nth-child(1)').addClass('active')
</script>

</body>
</html>