<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>


</head>
<body>
<header class="header-container header-sticky">
    <div class=" menu-top pt-35 pb-35 pt-sm-20 pb-sm-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-3 col-md-3 text-center text-md-left my-sm-2">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/">
                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0087/9722/5060/files/logo2_300x300.png?v=1544863129" alt="Pataku Demo">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-5 mb-sm-20 my-sm-2">
                    <div class="m-auto">
                        <form action="/search" method="get">
                            <div class="search-bar">
                                <input type="search" name="q" value="" placeholder="Search ...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-12 col-lg-3 col-md-4 mt-sm-3 d-flex justify-content-md-end justify-content-center">
                    <div class="phone-div">Call Us <strong> +088888888</strong></div>
                    <div class="icon-phone"><i class="fas fa-2x fa-phone"></i></div>

                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom navigation-menu ">
        <div class="container">
            <div class="row">
                <div class="col col-md-5 col-lg-4 col-xl-3">
                    <div>
                        <div class="navleft-container hidden-md-down ">
                            <div class="megamenu">
                                <div class="megamenu_title" for="toggle">
                                    <input id="checkbox-toggle" class="d-none" type="checkbox">
                                    <h2><i class="fas fa-bars"></i><strong class="ml-2">Danh Mục Sản Phẩm</strong><span class="text-right float-right"><i class="fas fa-angle-down"></i></span></h2>
                                </div>
                                <div id="megamenu" class="megamenu-drop position-absolute">
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/water.png" alt="">Chai Nhựa<i class="fas fa-angle-right"></i></div>
                                            <div class="popup bg-danger float-left position-absolute"><br><br></div>
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/milk-bottle.png" alt="">Lọ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/butter.png" alt="">Hũ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>


                                </div>
                                    <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-7 col-lg-8 col-xl-9">
                    <nav>
                        <ul>
                            <li class="active menu-item-has-children"><a href="/">Home</a></li>
                            <li class=" menu-item-has-children"><a href="/">Product</a></li>
                            <li class=" menu-item-has-children"><a href="/">Pages</a></li>
                            <li class=""><a href="/">Blog</a></li>
                            <li class=""><a href="/">Contact</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <div class="scroll-nav shadow"><div class="navigation-menu ">
            <div class="container">
                <div class="row">
                    <div class="col col-md-5 col-lg-4 col-xl-3">
                        <div>
                            <div class="navleft-container hidden-md-down ">
                                <div class="megamenu">
                                    <div class="megamenu_title" for="toggle">
                                        <input id="checkbox-toggle" class="d-none" type="checkbox">
                                        <h2><i class="fas fa-bars"></i><strong class="ml-2">Danh Mục Sản Phẩm</strong><span class="text-right float-right"><i class="fas fa-angle-down"></i></span></h2>
                                    </div>
                                    <div id="megamenu" class="megamenu-drop position-absolute">
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/water.png" alt="">Chai Nhựa<i class="fas fa-angle-right"></i></div>
                                            <div class="popup bg-danger float-left position-absolute"><br><br></div>
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/milk-bottle.png" alt="">Lọ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/butter.png" alt="">Hũ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>

                                        <!--<div><i class="fas fa-wine-bottle"></i> <img src="img/milk-bottle.png" alt="">Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i> <img src="img/butter.png" alt="">Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i>Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i>Chai Nhựa</div>-->
                                        <!--<ul>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Chai Nhựa</li>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Lọ Nhựa</li>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Bình Nhựa</li>-->
                                        <!--<li></li>-->
                                        <!--</ul>-->
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-7 col-lg-8 col-xl-9">
                        <nav>
                            <ul>
                                <li class="active menu-item-has-children"><a href="/">Home</a></li>
                                <li class=" menu-item-has-children"><a href="/">Product</a></li>
                                <li class=" menu-item-has-children"><a href="/">Pages</a></li>
                                <li class=""><a href="/">Blog</a></li>
                                <li class=""><a href="/">Contact</a></li>
                                <li class=""><div id="test" style="width: 50px;height: 50px;"></div></li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--=======  End of navigation menu  =======-->
</header>
<div class="slide-show py-4">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators p-carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item p-carousel-item active">
                    <div class="carousel-title p-carousel-title">
                        <div class="carousel-box-title">
                            <p>PETbot</p>
                            <h1>Sản phẩm chất lượng , bền , đẹp .</h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>

                    </div>
                    <img class="d-block" src="img/imgdemo1.png" alt="First slide">
                </div>
                <div class="carousel-item p-carousel-item">
                    <div class="carousel-title p-carousel-title">
                        <div class="carousel-box-title">
                            <p>PETbot</p>
                            <h1>An toàn , hợp vệ sinh</h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>
                    </div>
                    <img class="d-block" src="img/imgdemo2.png" alt="Second slide">
                </div>
                <div class="carousel-item p-carousel-item">
                    <div class="carousel-title p-carousel-title">
                        <div class="carousel-box-title">
                            <p>PETbot</p>
                            <h1>gia công số lượng lớn </h1>
                            <button class="btn-slide-show">Chi Tiết</button>
                        </div>
                    </div>
                    <img class="d-block" src="img/chai.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<section>
    <div class="static2">
        <div class="container">
            <div class="title">
                <h2>Featured <span>Categories</span></h2>
                <p>Show all featured categories with products on home page.</p>
            </div>
            <div class="row">
                <div class="box1 col col-lg-6 col-md-12 col-xs-12">
                    <div class="top">
                        <div class="iner-box">
                            <div class="banner-box"><a href="#"><div class="f-products-box" style="width: 540px; height: 270px;">
                                        <img src="img/imgdemo1.png" alt="" class="img-responsive">
                                    </div></a></div>
                            <!--<a href="#" class="text"><span>Rooms</span></a>-->
                        </div>
                    </div>
                    <div class="bottom row">
                        <div class="box1 col col-lg-6 col-md-12 col-xs-12">
                            <div class="iner-box">
                                <div class="banner-box"><a href="#"><div class="f-products-box"  style="width: 260px; height: 270px;">
                                            <img src="img/imgdemo2.png" alt="" class="img-responsive">
                                        </div></a></div>
                                <!--<a href="#" class="text"><span>lighting</span></a>-->
                            </div>
                        </div>
                        <div class="box2 col col-lg-6 col-md-12 col-xs-12">
                            <div class="iner-box">
                                <div class="banner-box"><a href="#"><div class="f-products-box"  style="width: 260px; height: 270px;">
                                            <img src="img/imgdemo3.png" alt="" class="img-responsive">
                                        </div></a></div>
                                <!--<a href="#" class="text"><span>decor</span></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box2 col col-lg-6 col-md-12 col-xs-12">
                    <div class="iner-box">
                        <div class="banner-box"><a href="#"><div class="f-products-box"  style="width: 540px;height: 560px;">
                                    <img src="img/imgdemo5.png" alt="" class="img-responsive"></div> </a></div>
                        <!--<a href="#" class="text"><span>Furniture</span></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<br>
<br>
<br>
<br>
<br>
<!--<footer>-->
    <!--<div class="splitter"></div>-->
    <!--<ul>-->
        <!--<li>-->
            <!--<div class="icon" data-icon="E"></div>-->
            <!--<div class="text">-->
                <!--<h4>về chúng tôi</h4>-->
                <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="icon" data-icon="a"></div>-->
            <!--<div class="text">-->
                <!--<h4>sản phẩm</h4>-->
                <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>-->
            <!--</div>-->
        <!--</li>-->


    <!--</ul>-->
    <!--<div class="bar">-->
        <!--<div class="bar-wrap">-->
            <!--<ul class="links"> &lt;!&ndash; footer menu &ndash;&gt;-->
                <!--<li><a class="menu" href="#">Home</a></li>-->
                <!--<li><a class="menu" href="#">License</a></li>-->
                <!--<li><a class="menu" href="#">Contact Us</a></li>-->
                <!--<li><a class="menu" href="#">Advertise</a></li>-->
                <!--<li><a class="menu" href="#">About</a></li>-->
            <!--</ul>-->

            <!--<div class="social">-->
                <!--<a href="#" class="fb">-->
                    <!--<span data-icon="contacts" class="icon"></span>-->
                    <!--<span class="info">-->
                    <!--<span class="follow">Facebook</span>-->
                    <!--<span class="num">wwwfacebook.com</span>-->
                <!--</span>-->
                <!--</a>-->

                <!--<a href="#" class="tw">-->
                    <!--<span data-icon="" class="icon"></span>-->
                    <!--<span class="info">-->
                    <!--<span class="follow">SĐT</span>-->
                    <!--<span class="num">088888888</span>-->
                <!--</span>-->
                <!--</a>-->

                <!--<a href="#" class="rss">-->
                    <!--<span data-icon="" class="icon"></span>-->
                    <!--<span class="info">-->
                    <!--<span class="follow">Gmail</span>-->
                    <!--<span class="num">www@gmail.com</span>-->
                <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="clear"></div>-->
            <!--<div class="copyright">&copy;  2014 All Rights Reserved</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->

  <div class="footer">
      <div class="splitter"></div>
      <div class="pageWidth">
          <div class="pageContent"> <div id="footer" class="footercolumns">
                  <div id="footer-top">
                      <div class="footer-top-left">
                          <div class="block-top">
                              <a href="http://vietincome.com/" title="PETbot">
                                  <img src="img/yamaha.jpg" alt="PETbot"  width="80px" />PETbot</a>
                          </div>
                          <div class="block-bottom"><span>về chúng tôi</span>
                              <p>Với hơn 10 năm kinh nghiệm trong việc sản xuất các loại nhựa như PET, PP, PC... Chúng tôi đã đạt được nhiều giải thưởng lớn nhỏ trong sản xuất Với các loại mặt hàng về nhựa như chai, lọ, bình... Điểm mạnh của PETBOT là đa dạng về mẫu mã lẫn chất liệu cộng thêm dây chuyền máy móc sản xuất hiện đại, tiên tiến và được nhiều doanh nghiệp cũng như các công ty lớn tin cậy hợp tác như Coca-Cola, Pepsi, Nestlé....</p>
                              <p>Liên hệ đặt quảng cáo</p>
                          </div> <div class="connect-face">
                              <p>Follow us</p>
                              <ul> <li>  <a target="_blank" href="https://www.facebook.com/profile.php?id=100009785868503"><img alt="Facebook" src="images/facebook-variation.png" title="FaceBook">
                                      </a></li> <li><a href="http://youtube.com/">
                                          <img alt="Social" src="images/youtube-variation.png" title="Youtube"></a></li>
                                  <li><a href="http://twitter.com/"><img alt="Twitter" src="images/twitter-variation.png" title="Twitter"></a></li>


                              </ul>
                          </div>
                      </div>
                      <div class="fotter-contact">
                          <h3>Our Links</h3>
                          <ul>
                              <li >
                                  <a class="textlink" href="http://nauanphuchau.com/" target="_blank">chai nhựa pet</a>
                              </li>

                              <li >
                                  <a class="textlink"href="#" target="_blank">Text Link</a>
                              </li>
                              <li >
                                  <a class="textlink" href="#" target="_blank">Text Link</a>
                              </li>
                              <li >
                                  <a class="textlink" href="#" target="_blank">Text Link</a>
                              </li>
                          </ul>
                      <!--</div>-->
                  </div>

                  <div class="three columns column">
                      <h3 >Liên Hệ Đặt Quảng Cáo</h3>
                      <ul >
                          <li class="lienhe1"><i class="fa fa-home"></i>
                              Hà Nội, Viet Nam</li>
                          <p>&nbsp;</p> <li class="lienhe1"><i class="fa fa-phone">

                              </i> 088888888</li>
                          <p>&nbsp;</p> <li class="lienhe1">
                              <i class="fa fa-envelope-o"></i>
                              Petbot@gmail.com</li>

                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
<div id="copyright">copyright ©2019 Kanp team. </div>






<!--<div class="footerLegal">-->
    <!--<div class="pageWidth">-->
        <!--<div class="pageContent style=bacgroud-color:black">-->
            <!--<div id="copyright">               coppy right XenForo™ ©2019 XenForo Ltd. </div>-->
            <!--<ul id="legal"> <xen:if is="{$canChangeStyle} OR {$canChangeLanguage}">-->
                    <!--<li class="choosers">-->
                        <!--<xen:if is="{$canChangeLanguage}">-->
                            <!--<a href="{xen:link 'misc/language', '', 'redirect={$requestPaths.requestUri}'}" class="OverlayTrigger Tooltip" title="{xen:phrase language_chooser}" rel="nofollow">-->

                                <script src="/js/lib/jquery-3.3.1.min.js"></script>
                                <script src="/js/lib/bootstrap.min.js"></script>
                                <script src="/js/myjs.js"></script>
</body>
</html>