 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Document</title>

</head>
<body>
<header class="header-container header-sticky ">
    <div class=" menu-top pt-35 pb-35 pt-sm-20 pb-sm-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-3 col-md-3 text-center text-md-left my-sm-2">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/">
                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0087/9722/5060/files/logo2_300x300.png?v=1544863129" alt="Pataku Demo">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-5 mb-sm-20 my-sm-2">
                    <div class="m-auto">
                        <form action="/search" method="get">
                            <div class="search-bar">
                                <input type="search" name="q" value="" placeholder="Search ...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-12 col-lg-3 col-md-4 mt-sm-3 d-flex justify-content-md-end justify-content-center">
                    <div class="phone-div">Call Us <strong> +088888888</strong></div>
                    <div class="icon-phone"><i class="fas fa-2x fa-phone"></i></div>

                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom navigation-menu ">
        <div class="container" style="height: 52px">
            <div class="row">
                <div class="col col-md-5 col-lg-4 col-xl-3">
                    <div>
                        <div class="navleft-container hidden-md-down ">
                            <div class="megamenu">
                                <div class="megamenu_title" for="toggle">
                                    <input id="checkbox-toggle" class="d-none" type="checkbox">
                                    <h2><i class="fas fa-bars"></i><strong class="ml-2">Danh Mục Sản Phẩm</strong><span class="text-right float-right"><i class="fas fa-angle-down"></i></span></h2>
                                </div>
                                <div id="megamenu" class="megamenu-drop position-absolute">
                                    <div class="item-menu">
                                        <div class="title-item-menu w-100 float-left"><img src="img/water.png" alt="">Chai Nhựa<i class="fas fa-angle-right"></i></div>
                                        <div class="popup bg-danger float-left position-absolute"><br><br></div>
                                    </div>
                                    <div class="item-menu">
                                        <div class="title-item-menu w-100 float-left"><img src="img/milk-bottle.png" alt="">Lọ Nhựa</div>
                                        <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                    </div>
                                    <div class="item-menu">
                                        <div class="title-item-menu w-100 float-left"><img src="img/butter.png" alt="">Hũ Nhựa</div>
                                        <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                    </div>


                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-7 col-lg-8 col-xl-9">
                    <nav>
                        <ul>
                            <li class="active menu-item-has-children"><a href="/">Home</a></li>
                            <li class=" menu-item-has-children"><a href="/">Product</a></li>
                            <li class=" menu-item-has-children"><a href="/">Pages</a></li>
                            <li class=""><a href="/">Blog</a></li>
                            <li class=""><a href="/">Contact</a></li>
                            <li class=""><div id="test" style="width: 50px;height: 50px;"></div></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <div class="scroll-nav shadow">
        <div class="navigation-menu ">
            <div class="container"style="height: 52px">
                <div class="row">
                    <div class="col col-md-5 col-lg-4 col-xl-3">
                        <div>
                            <div class="navleft-container hidden-md-down ">
                                <div class="megamenu">
                                    <div class="megamenu_title" for="toggle">
                                        <input id="checkbox-toggle" class="d-none" type="checkbox">
                                        <h2><i class="fas fa-bars"></i><strong class="ml-2">Danh Mục Sản Phẩm</strong><span class="text-right float-right"><i class="fas fa-angle-down"></i></span></h2>
                                    </div>
                                    <div id="megamenu" class="megamenu-drop position-absolute">
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/water.png" alt="">Chai Nhựa<i class="fas fa-angle-right"></i></div>
                                            <div class="popup bg-danger float-left position-absolute"><br><br></div>
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/milk-bottle.png" alt="">Lọ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>
                                        <div class="item-menu">
                                            <div class="title-item-menu w-100 float-left"><img src="img/butter.png" alt="">Hũ Nhựa</div>
                                            <!--<div class="popup bg-danger float-left position-absolute"><br><br></div>-->
                                        </div>

                                        <!--<div><i class="fas fa-wine-bottle"></i> <img src="img/milk-bottle.png" alt="">Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i> <img src="img/butter.png" alt="">Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i>Chai Nhựa</div>-->
                                        <!--<div><i class="fas fa-wine-bottle"></i>Chai Nhựa</div>-->
                                        <!--<ul>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Chai Nhựa</li>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Lọ Nhựa</li>-->
                                        <!--<li><i class="fas fa-wine-bottle"></i>Bình Nhựa</li>-->
                                        <!--<li></li>-->
                                        <!--</ul>-->
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-7 col-lg-8 col-xl-9">
                        <nav>
                            <ul>
                                <li class="active menu-item-has-children"><a href="/">Home</a></li>
                                <li class=" menu-item-has-children"><a href="/">Product</a></li>
                                <li class=" menu-item-has-children"><a href="/">Pages</a></li>
                                <li class=""><a href="/">Blog</a></li>
                                <li class=""><a href="/">Contact</a></li>
                                <li class=""><div id="test" style="width: 50px;height: 50px;"></div></li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--=======  End of navigation menu  =======-->
</header>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<!--<main>-->
<div class="container">
    <div class="row">
        <!--Đây là nội dung bên trái trang.-->
        <div class="col-12 col-sm-6 left-content">
            <!--Day la cho code Carousel-->
            <div class="carousel slide" id="myCarousel" data-ride="carousel" data-interval="99999">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item my-carousel-item active">
                        <img src="http://cdn.nhanh.vn/cdn/store/8024/art/article_1501767591_783.jpg"
                             alt="anh1" class="d-block img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <p> Anh 1</p>
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-item">
                        <img src="https://thuytinhmiso.com/wp-content/uploads/2017/06/binh-thuy-tinh-my-bottle-500ml.jpg"
                             alt="anh2" class="img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <p> Anh 2</p>
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-item">
                        <img src="https://chainhuadep.com/wp-content/uploads/2018/04/chai-co%CC%82%CC%89-ro%CC%A3%CC%82ng-detox-1024x513.jpg"
                             alt="anh3" class="img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <p> Anh 3</p>
                        </div>
                    </div>
                    <div class="carousel-item  my-carousel-item">
                        <img src="https://chainhuadepgiasiblog.files.wordpress.com/2017/05/chai-nhua-pet-330ml-9.jpg?w=761&h=761&crop=1"
                             alt="anh4" class="img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                            <p> Anh 4</p>
                        </div>
                    </div>
                </div>
                <!--Carousel Indicator here (menu ben duoi de chon anh)-->
                <ol class="carousel-indicators my-carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active">
                        <img class="img-fluid my-img-fluid"
                             src="http://cdn.nhanh.vn/cdn/store/8024/art/article_1501767591_783.jpg"
                             alt="">
                    </li>
                    <li data-target="#myCarousel" data-slide-to="1">
                        <img class="img-fluid my-img-fluid"
                             src="https://thuytinhmiso.com/wp-content/uploads/2017/06/binh-thuy-tinh-my-bottle-500ml.jpg"
                             alt="">

                    </li>
                    <li data-target="#myCarousel" data-slide-to="2">
                        <img class="img-fluid my-img-fluid"
                             src="https://chainhuadep.com/wp-content/uploads/2018/04/chai-co%CC%82%CC%89-ro%CC%A3%CC%82ng-detox-1024x513.jpg"
                             alt="">

                    </li>
                    <li data-target="#myCarousel" data-slide-to="3">
                        <img class="img-fluid my-img-fluid"
                             src="https://chainhuadepgiasiblog.files.wordpress.com/2017/05/chai-nhua-pet-330ml-9.jpg?w=761&h=761&crop=1">

                    </li>
                </ol>
                <!--Carousel manual Button.-->
                <a href="#myCarousel" role="button" data-slide="prev" class="carousel-control-prev">
                    <span class="carousel-control-prev-icon my-carousel-control-prev-icon"></span>
                </a>
                <a href="#myCarousel" role="button" data-slide="next" class="carousel-control-next">
                    <span class="carousel-control-next-icon my-carousel-control-next-icon"></span>
                </a>
            </div>

        </div>
        <!--Day la noi dung bên phải trang.-->
        <div class="col-12 col-sm-6">
            <div class="inner">
                <h1 class="product-name">Chai nhựa 330ml Trà Sữa.</h1>
                <div class="price-box box-regular">
							<span class="regular-price">
								<span class="price">8000 VNĐ</span>
							</span>
                </div>
                <ul class="list-unstyled">
                    <li>Tên sp: <a
                                href="#">Chai đựng nước</a>
                    </li>
                    <li>Mã sp: <span>CL-1001</span></li>
                    <li>Tình trạng: <span>còn hàng</span></li>

                </ul>
                <p class="short-des">Chai nhựa 330ml tròn ngấn có dáng khá cơ bản, duyên dáng và tinh tế trong từng đường nét.  Vết ngấn ở gần đáy chai hỗ trợ cho chai cứng cáp hơn.</p>
                <form>
                    <div class="form-group row">
                        <label for="quantity" class="col-2 col-sm-1 col-form-label">SL</label>
                        <div class="col-7 col-sm-2">
                            <input type="text" class="form-control" id="quantity" value="1">
                        </div>
                        <div class="col-12 col-sm-6 mt-1 mt-sm-0">
                            <button type="button" class="btn btn-danger btn-block">Đặt hàng </button>
                        </div>
                    </div>
                    <!--<a href="javascript:void(0)" class="detail-btn"><i class="far fa-heart"></i> Yêu thích</a>-->
                    <a href="https://www.facebook.com/profile.php?id=100006443442374&fref=pb&eid=ARCZWfSDD-h8PSeWKa9Wwr-xu70sFc_v95p74h_b-IiBCCecAM0TmTLYlscGy1wr91HaVUzT0jtB_U_0&hc_location=profile_browser"
                       class="btn btn-primary btn-sm  " tabindex="-1" role="button" aria-disabled="true" style="width: 70px">file </a>
                    <a href="https://www.facebook.com/profile.php?id=100006443442374&fref=pb&eid=ARCZWfSDD-h8PSeWKa9Wwr-xu70sFc_v95p74h_b-IiBCCecAM0TmTLYlscGy1wr91HaVUzT0jtB_U_0&hc_location=profile_browser"
                       class="btn btn-primary btn-sm " tabindex="-1" role="button" aria-disabled="true" style="width: 70px">Share </a>
                </form>

                <!--<a href="https://www.facebook.com/daylaxao/photos/a.1488016881292593/2135679953192946/?type=3&theater"-->
                   <!--class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">share</a>-->
            </div>
            <!--<h1></h1>-->
            <!--<ul>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--</ul>-->
            <!--<p>More room to move. With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod classic lets you enjoy up to 40,000 songs or..</p>-->

        </div>
        <!--Kêt thúc nội dung bên phải trang.-->
    </div>

    <!--Tab bat dau tu day-->
    <div class="row mt-5">
        <div class="col-12">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item active">
                    <a href="#description" class="nav-link active" data-toggle="tab" role="tab">Mô tả</a>
                </li>
                <li class="nav-item">
                    <a href="#review" class="nav-link" data-toggle="tab" role="tab">Đánh giá</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="description">
                <p>
                    <b>Mô tả chung</b>
                </p>
                <p>Chai nhựa 330ml hình tháp mô phỏng theo hình dáng ngọn tháp Eiffel nổi tiếng của kinh đô điện ảnh Paris. Là 1 trong những sản phẩm đẹp nhất tính tới thời điểm hiện tại.

                    Chai nhựa 330ml hình tháp có trọng lượng 23g dành cho phân khúc khách hàng cao cấp.

                    Sản phẩm luôn có sẵn tại kho để phục vụ nhu cầu mua bán nhanh gọn của quý khách. NIBO giao hàng từ 200 chai. Quý khách có nhu cầu mua lẻ ghé Shop nhé.</p>

                <p>
                    <b>Thông Số</b>
                </p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>

                    </tr>

                    </tbody>
                </table>
                <!--<ul>-->
                    <!--<li>Mã số: CL-1001</li>-->
                    <!--<li>Dung tích tối ưu: 330ml</li>-->
                    <!--<li>Trọng lượng : 23gr</li>-->
                    <!--<li>Chiều dài : 20cm</li>-->
                    <!--<li>Đóng gói: 200 chai/ kiện</li>-->
                <!--</ul>-->
                <!--<p>-->
                    <!--<b>Nguyên liệu:</b>-->
                <!--</p>-->
                <!--<p> 100% nhựa nguyên sinh, có chứng nhận an toàn vệ sinh thực phẩm và công bố quy trình sản xuất hợp quy.</p>-->
            </div>
            <div role="tabpanel" class="tab-pane fade" id="review">
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                <tr>
                                    <td style="width: 50%;"><strong>Đánh giá chung</strong></td>
                                    <td class="text-right">11/11/2018</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><p>Bạn hãy để lại cảm nhận sau khi mua và sử dụng sản phẩm để chúng tôi có thể phục vụ bạn tốt hơn.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-12 myform-label">Tên của bạn</label>
                        <div class="col-12">
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                        <label for="review" class="col-12 myform-label">Đánh giá của bạn</label>
                        <div class="col-12">
                            <textarea class="form-control" rows="4" name="review"
                                      id="review">Nhập đánh giá vào đây...</textarea>
                            <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-12 col-sm-1 myform-label">Đánh giá</label>
                        <div class="col-12 col-sm">
                            <div class="form-check form-check-inline">
                                <label for="guest1" class="form-check-label mr-1">Bad </label>
                                <input type="radio" name="rating" value="1" id="rate1" autocomplete="off"
                                       class="form-check-input">
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="rating" value="2" id="rate2" autocomplete="off"
                                       class="form-check-input">
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="rating" id="rate3" autocomplete="off"
                                       class="form-check-input">
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="rating" id="rate4" class="form-check-input"
                                       autocomplete="off">
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="rating" id="rate5" class="form-check-input"
                                       autocomplete="off">
                                <label for="guest5" class="form-check-label"> Good</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="ml-auto">
                            <a role="button" type="submit" class="btn btn-outline-danger">Continue</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Ket thuc tab-->
    <div class="module-title">
        <h2>Những sản phẩm liên quan</h2>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://chainhuatrasua.net/wp-content/uploads/2018/09/chai-nhua-pet.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chai nhựa dẻo  D00433</h5>
                    <div class="card-text">
                        <div class="rated">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="price-box">
                            <p class="regular-price"><span class="price">yenavleft-container hidden-md-down 10.000 vnđ</span></p>
                        </div>
                    </div>
                    <p class="card-text">PVC là nhựa mềm và dẻo được sử dụng để sản xuất bao bì thực phẩm trong suốt. Tuy nhiên, bạn chỉ được đựng đồ uống dưới 81 độ C nếu không sẽ giải phóng chất độc hại..chai trọng lượng 25gram; 23gram; 17gram; 15gram</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="http://chainhuatrasua.net/wp-content/uploads/2018/09/chai-nhua-detox.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chai nhựa detox D421512</h5>
                    <div class="card-text">
                        <div class="rated">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="price-box">
                            <p class="regular-price"><span class="price">90.000 vnđ</span></p>
                        </div>
                    </div>
                    <p class="card-text">Chai detox có miệng rộng hơn so với loại thông thường. Đường kính miệng thường từ 40mm - 45mm. Miệng rộng chủ yếu là do các loại rau, củ & trái cây đựng trong chai thường có kích thước lớn. Nếu chai có đường kính cổ & miệng nhỏ như chai nhựa 250ml (28mm) sẽ khó bỏ vừa.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://static.hotdeal.vn/images/876/876315/500x500/209636-binh-nuoc-l-l-2-1-lit-an-toan-tien-dung.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">chai nhựa trắng D312412</h5>
                    <div class="card-text">
                        <div class="rated">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="price-box">
                            <p class="regular-price"><span class="price">50.000 vnđ</span></p>
                        </div>
                    </div>
                    <p class="card-text">Bình Nước 2 Lít 1 - An Toàn Tiện Dụng - Thiết Kế Đơn Giản, Dung Tích Phù Hợp Dự Trữ Nước Uống Cho Cả Gia Đình – Chất Liệu An Toàn Cho Người Sử Dụng.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!--<div class="row">-->
    <!--<div class="product-info-detailed">-->
    <!--<ul class="nav nav-tabs">-->
    <!--<li class="active">-->
    <!--<a href=""></a>-->
    <!--</li>-->
    <!--<li class><a href=""></a></li>-->
    <!--<li class><a href=""></a></li>-->
    <!--</ul>-->
    <!--<div class="tab-content">-->
    <!--<div class="tab-pane active" id="#">-->
    <!--<div><p>-->
    <!--<b></b>-->
    <!--</p>-->
    <!--<p></p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>

<footer class="site-footer border-top">
    <div class="container" >
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Về chúng tôi</h6>
                <p class="text-justify">PETBot là một trong những doanh nghiệp nổi tiếng tham gia vào
                    sản xuất, cung cấp và xuất khẩu nhiều loại Chai PET / PP / PC. Các
                    công ty có các đơn vị sản xuất hiện đại của chai PET.
                    Họ có nhà máy sản xuất chai PET. Có sẵn ở dạng tùy chỉnh, máy của họ
                    được sử dụng bởi một số công ty sản xuất để làm nước uống đóng gói,
                    hóa chất gia dụng, dược phẩm, dầu ăn, rượu, chăm sóc thỏ, thuốc trừ sâu, vv</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Sản Phẩm</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">Chai nhựa</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">Hũ nhựa PET</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">Chai NHựa Tiếp</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Hũ Nhữa Cái Nữa</a></li>
                    <!--<li><a href="http://scanfcode.com/category/android/">Android</a></li>-->
                    <!--<li><a href="http://scanfcode.com/category/templates/">Templates</a></li>-->
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>liên Hệ</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/"><i class="fa fa-home" aria-hidden="true"></i><span class="ml-2">Hà Nội</span></a></li>
                    <li><a href="http://scanfcode.com/contact/"><i class="fa fa-envelope" aria-hidden="true"></i><span class="ml-2">petbot@gmail.com</span></a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/"><i class="fa fa-phone" aria-hidden="true"></i><span class="ml-2">0123456789</span></a></li>
                    <!--<li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>-->
                    <!--<li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>-->
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
                    <a href="#">kanpTeam</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
<script src="/js/myjs.js"></script>

<script>
    $(document).ready(function () {
        $('.img-child').on('click', '.img', function () {
            var url = $(this).attr('data-url');
            $('.image-root img').attr('src', url);
        });
    });
</script>

</body>
</html>

