@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Lato:900');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
    font-family: 'Rubik', sans-serif;
    letter-spacing: .02em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.breadcrumb{
    background: #f1f3f5;
}

.mybreadcrumb{
    margin-left: 20px;
    padding: 20px 0;
    font-size: 14px;
}


.mybreadcrumb a{
    color: cadetblue;
}

header {
    background-color: white;
}

.header-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    margin: 25px 0 0 0;
}


.logo h1{
    font-weight: 800;
    font-size: 30px;
    color: #1e1e1e;
    font-family: 'Lato', sans-serif;
    line-height: 54px;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 50px;
    line-height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: #1e1e1e;
    transition: .3s;
    font-weight: 900;
    font-size: 16px;
}

nav ul li {
    text-align: center;
    border-top: 1px solid transparent;
    transition: .5s;

}

nav ul .active {
    border-top: 1px solid #cea45f;
}

nav ul .active a {
    color: #cea45f;
}

nav ul li:hover {
    border-top: 1px solid #cea45f;
}

nav ul li:hover a {
    color: #cea45f;
}

.scroll-nav {
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    top: -100px;
    width: 100%;
    transition: 1s;
}

/*------------------------*/
/*Start Megamenu*/
.megamenu {
    position: relative;
    background: #1e1e1e;
    letter-spacing: .02em;
}

.megamenu .megamenu_title {
    padding: 17px 15px;
    cursor: pointer;
    transition: .3s;
}

.megamenu .megamenu_title:hover {
    background: #cea45f;

}

.megamenu .megamenu_title h2 {
    margin: 0;
    color: white;
    padding: 0;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .02em
}

.megamenu .megamenu_title span {
    transform: translateX(5px);
}

.megamenu-drop {
    border: solid rgba(0,0,0,0.15);
    border-width: 0 1px 1px 1px;
    position: absolute;
    width: -webkit-fill-available;
    background-color: white;
    display: none;
    z-index: 5;
}

.megamenu-drop .item-menu {
    position: relative;
    display: flex;
}

.megamenu-drop .popup {
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-bottom: 3px solid #cea45f;;
    background: white;
    position: absolute;
    left: 100%;
    width: 250px;
    display: none;
}

.megamenu-drop .item-menu .popup ul {
    padding: 10px;
    margin: 0;
}

.megamenu-drop .item-menu .popup ul li {
    cursor: pointer;
    list-style: none;
    padding: 10px;
}

.megamenu-drop .item-menu .popup ul li a {
    color: #727272;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 13px;
    display: block;
}

.megamenu-drop .popup ul li:hover a {
    color: #cea45f;
}

.megamenu-drop .item-menu .title-item-menu {
    color: rgba(18, 17, 18, 0.71);
    padding: 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(209, 208, 193, 0.2);
    cursor: pointer;
}

.megamenu-drop .item-menu .title-item-menu img {
    padding-right: 10px;
}

.megamenu-drop .item-menu .title-item-menu i {
    float: right;
    margin-top: 10px;
    font-size: 12px;
}

.megamenu-drop .item-menu > .title-item-menu:hover {
    color: #cea45f;
    border-bottom: 1px solid #cea45f;
}

.megamenu-drop > ul > li:hover {
    color: #cea45f;
    border-bottom: 1px solid #cea45f;
}


/*End Megamenu*/

/*------------------------*/

/*---------------------------*/
/*start header top*/
.menu-top {
    padding: 25px 0 6px 0;
}

.search-bar {
    border-bottom: 1px solid rgba(125, 119, 124, 0.3);
    display: flex;
}

.search-bar input {
    flex-grow: 1;
    outline: none;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: none;
}

.search-bar button {
    border: none;
    outline: none;
    background: none;
    font-size: 19px;
    color: #727272;
    cursor: pointer;
}

.search-bar button:hover {
    color: #cea45f;
}

.phone-div {
    font-size: 14px;
    line-height: 145%;
    color: #9A9A9A;
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: right;
    float: left;
}

.phone-div strong {
    display: block;
    font-size: 18px;
    color: #1e1e1e;
}

.icon-phone {
    color: #cea45f;
    float: left;
    margin: 5px 0 0 8px;
}

/*end header top*/
/*---------------------------*/
/*Start SlideShow*/
.slide-show {
    background-color: #f1f3f6;
}

.p-carousel-item {
    height: 450px;
    background: white;
    margin: 0;
}

.p-carousel-item .p-carousel-title {
    height: 100%;
}

.p-carousel-item .carousel-box-img{
    height: 100%;
}

.p-carousel-item .carousel-box-img img{
    position: absolute;
    top:50%;
    width: 100%;
    transform: translateY(-50%);
}

.carousel-box-title {
    left: 20%;
    top: 20%;
}

.carousel-box-title span:nth-child(1){
    font-size: 22px;
    line-height: 36px;
    height: 36px;
}

.carousel-box-title span:nth-child(2){
    font-size: 42px;
    font-weight: 700;
    animation-delay: .2s;
    color: #cea45f;
}

.carousel-box-title span:nth-child(3){
    font-size: 42px;
    font-weight: 700;
    color: #cea45f;
    animation-delay: .5s;
}

.slogan {
    font-style: italic;
    width: 60%;
    padding-top: 30px;
    margin: auto;
    text-align: center;
    color: rgba(0,0,0,0.7);
}

/*.p-carousel-item img {*/
   /**/
/*}*/

.p-carousel-indicators li {
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #e3e3e3;
    flex: 0 1 auto;
}

.p-carousel-indicators .active {
    border: 2px solid #cea45f;
}

.btn-carousel-show {
    cursor: pointer;
    color: white;
    letter-spacing: 1.5px;
    padding: 8px 15px;
    background: #1e1e1e;
    border: none;
    text-transform: uppercase;
}

.btn-carousel-show:hover{
    background: #cea45f;
}

.p-carousel-title p {
    color: #cea45f;
}

.carousel-box-title {
    position: absolute;
    top: 15%;
    left: 25%;
}

.btn-next-carousel, .btn-prev-carousel{
    background: white;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    transition: .5s;
    color: #cea45f;
    padding: 9px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}

.btn-prev-carousel, .btn-next-carousel{
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
}
.btn-prev-carousel{
    left: 5%;
}
.btn-next-carousel{
    right: 5%;
}
.slide-show .p-carousel-item:hover .btn-next-carousel{
    opacity: 1;
}

.slide-show .p-carousel-item:hover .btn-prev-carousel{
    opacity: 1;
}

.btn-prev-carousel:hover, .btn-next-carousel:hover{
    color: white;
    background: #cea45f;
    border: 1px solid #cea45f;
}


/*.p-carousel-item:hover div, .carousel-control-prev:hover div{*/
    /*opacity: 1;*/
/*}*/

/*End SlideShow*/


/*Start Hot-products*/

.main-products .box-read-more{
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    transition: .5s;
    left: 0;
}

.main-products .card{
    border-bottom: 3px solid #cea45f;
    overflow: hidden;
}

.main-products .card:hover .box-read-more{
    transform: translateY(0);

}

.main-products .card:hover .box-read-more a{
    background: #cea45f;
    color: #fff;
}

/*Start Footer*/
.site-footer {
    border-top: 10px solid #e9eaee;
    background-color: #1e1e1e;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}


.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: white;
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: 600;
}

.footer-links a:hover {
    color: #cea45f;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    transition: .5s;
    color: #737373;
    font-size: 14px;
    display: inline-block;
    letter-spacing: .02em;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #cea45f;
    text-decoration: none;
    transform: translateX(5px);
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width: 991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    color: #fff;
    background-color: #29aafe;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook {
    background-color: #3b5998
}

.social-icons a.twitter {
    background-color: #00aced
}


.btn-goTop{
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 30px;
    bottom: 10%;
    right: 10%;
    background: #333333;
    color: white;
}
.back-top{
    position: fixed;
    right: 25px;
    bottom: 25px;
    opacity: 0;
}

.back-top a {
    background: #333;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    transition:  .5s ease-in-out;
}

.back-top a:after {
    content: "\f102";
    font-family: "FontAwesome";
    font-size: 25px;
}

.back-top a:hover {
    background: #cea45f;
}
/*End Footer*/


/*Animation code*/
.fadeIn {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1; }
}

.fadeInLeft {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-50px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*------------------------------------------*/



aside .categories{
    padding: 30px 15px;
    border-radius: 1px;
    border: 0.5px solid rgba(58,50,63,0.2);
}

aside .categories > ul > li{
    border-bottom: 1px solid rgba(63,60,57,0.21);
}

aside .filter{
    padding: 15px;
    border-radius: 1px;
    border: 0.5px solid rgba(58,50,63,0.2);
}

aside h5{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #1e1e1e;
    text-transform: capitalize!important;
    position: relative;
    display: block;
}
aside ul{
    padding: 0;
    margin-bottom: 0;
}

aside .categories-btn{
    padding: 0 10px;
}

aside .categories > ul > li{
    list-style: none;
    padding: 15px 0;
    color: #1e1e1e;
    cursor: pointer;
    font-size: 12px;
}

aside .categories  ul  li  ul >li{
    display: block;
    padding: 4px 0;
}

.d-categories{
    display: none;
    padding-left: 15px;
}
aside ul li{
    text-decoration: none;
    list-style: none;
}

aside ul li a{
    color: #1e1e1e;
    font-weight: 300;
    cursor: pointer;
}


aside ul > li > div:first-child:hover a {
    color: #cea45f;
}

aside ul > li > div:first-child:hover label{
    color: #cea45f;
}

.d-categories ul li:hover{
    color: #cea45f;
}

.filter ul li{
    padding: 5px;
    font-size: 14px;
}

.filter ul li a{
    padding-left: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
    padding: 5px;
    margin: 0 2px;
    min-width: 65px;
    background-color: white;
    font-size: 12px;
}


.filter-price{
    margin-top: 20px;
    border-bottom: 2px solid rgba(49,49,44,0.18);
}


.filter-price button{
    margin-left: 5px;
    border-radius: 2px;
    background-color: #cea45f;
    border: none;
    color: #fff;
    cursor: pointer;
}


[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: static;
    opacity: 1;
    pointer-events: auto;
}

.capacity{
    margin-top: 20px;
    border-bottom: none;

}

/*Start Custom-checkbox*/
.Custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

.Custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px;
    border: 0.5px solid rgba(0,0,0,0.46);
}

.Custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.Custom-checkbox input:checked ~ .checkmark {
    background: #cea45f;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.Custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.Custom-checkbox .checkmark:after {
    left: 5px;
    top: .8px;
    width: 3.5px;
    height: 9px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
}

/*End Custom-checkbox*/




.toolbar{
    height: 60px;
}

.toolbar ul li{
    float: left;
    list-style: none;
    padding: 0 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.28);
    cursor: pointer;

}
.toolbar ul .active{
    color: rgba(0,0,0,0.8);
}

.toolbar ul li:active{
    color: rgba(0,0,0,0.8);
}

.toolbar select{
    background: none;
    border: 1px solid rgba(63,60,57,0.21);
    padding: 5px 30px;
    outline: none;
    font-size: 14px;
    color: #1e1e1e;

}

.btn-filter{
    display: none;
}

.btn-filter i{
    font-size: 13px;
}

a{
    text-decoration: none;
}
/*color-select*/
.select-color h5{
    margin-top: 20px;
    border-bottom: none;
    margin-left: 0px;
}
.select-color a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #1e1e1e;

}
.list-color{
    display:inline-block;
    margin: 0 10px;
}

.list-color a{
    border-radius: 50%;
}
.select-color{
    border-top: 2px solid rgba(49,49,44,0.18);
}
/*
style material
 */
.material h5{
    padding-top: 20px;
    border-top: 2px solid rgba(49,49,44,0.18);
    border-bottom: none;
}
/*
style shape
 */
.shape{
    margin-top: 20px;
    border-bottom: none;
}

.shape h5 {
    padding-top: 20px;
    border-top: 2px solid rgba(49,49,44,0.18);
    border-bottom: none;
}
/*
card
 */
.card{
    transition: .5s;
}

.card a{
    display: block;
    position: relative;
}

.card button:hover{
    color: white;
    background-color: #cea45f;
    border-color: #cea45f;
}

.card-title{
    height: 30px;
    margin-bottom: 10px;
}

.card-title a{
    font-size: 22px;
    color: #1e1e1e;
}

.card-body{
    padding: 10px;
}


.card ul li{
    display: block;
    position: absolute;
    font-size: 11px;
    color: white;
    min-width: 40px;
    padding: 2px 2px;
    text-align: center;
    left: 10px;

}

.card-body .price{
    font-size: 14px;
    color: #cea45f;
}

.card-body .card-title a{
    line-height: 20px;
    letter-spacing: .02em;
    display: block;
    overflow: hidden;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 300;
    transition: .3s;
}

.card-body .card-title a:hover{
    color: #ffb445;
}


.card ul .material-title{
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: #1e1e1e;
    top: 15px;
}

.card ul .capacity-title{
    background: #cea45f;
    top: 45px;
}

.card .btn-details-products{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.3);
    color: #ffffff
}
.card:hover{
    box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.83);
}

.card:hover .btn-details-products {
    display: block;
}

/*_______________________________*/

aside .categories > ul > li:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

/*_______________________________*/


.card div{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* GENERAL STYLES */
.pagination{
    padding: 10px 0;
    display: inline-block;
    float: right;
}

.pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination ul li{
    width: 10px;
}

.pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

.pagination .is-active li{
    font-weight: bold;
    color: #cea45f;
    border-bottom: 3px solid #cea45f;
}
.disabled{
    cursor: default;
    color: rgba(0,0,0,0.5);
}


/*-----------------------------------------------*/

body{
    background-color: white;
}
.detail-btn{
    margin-top: 15px;
    margin-right: 40px;

}
.fa-heart{
    color: #cea45f;
}
.card-img-top {
    height: 200px;
}
.my-img-fluid{
    height: 60px;
    border: 1px solid transparent;
}
.card{
    padding: 0 10px;
}
.navbar{
    margin-bottom: 50px;
}

main {
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 30px;
}


.image-root {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.image-root img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-child{
    width: 100%;
    height: 60px;
    position: relative;
}
.img-child .img{
    width: calc(25% - 20px);
    margin: 10px;
    height: 100%;
    border: 1px solid #f1f1f1;
    float: left;
}
.my-carousel-item{
    height: 300px;
}
.my-carousel-item img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 300px;
}
.my-carousel-indicators{
    bottom: -150px;
}
.carousel-control-next,.carousel-control-prev{
    top: 400px;
}

.my-carousel-indicators li{
    width: 60px;
    height: 60px;
    text-indent: inherit;
    margin-right: 4%;

}
.my-carousel-indicators .active{
    width: 65px;
    height: 65px;
    /*transition: 1s;*/
}

.my-carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.my-carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.my-carousel-indicators li[class="active"]>img{
    border: #cea45f 1px solid ;
}
.left-content{
    min-height: 450px;
}
.tab-content {
    padding: 10px;
}
.nav-tabs >.nav-item>a{
    font-size:20px;
}
.nav-link.active{
    border: none !important;
    border-bottom: 1px solid #cea45f !important;
}
.nav-link{
    font-weight: bold;
    color: #a9a9a9;
}

.nav-link:hover{
    color: #333333;
}
.myform-label::before{
    content: '* ';
    color: #cea45f;
    font-weight: bold;
}
.help-block{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
label{
    font-size: 13px;
    font-weight: normal;
}
.inner{
    border-left: 1px solid #ebebeb;
    padding: 20px;
    min-height: 450px;
}
.product-name{
    font-size: 24px;
    text-transform: capitalize;
    margin: 0 0 22px 0;
    background: none;
    font-weight: 300;
    line-height: 1;
}
.price-box{
    display: block;
    margin-bottom: 7px;
    margin-top: 4px;
}
.price{
    color: #cea45f;
    font-size: 32px;
    font-weight: 700;
}
.regular-price>.price{
    color: #cea45f;
    font-size: 16px;
    font-weight: 700;
}
ul.list-unstyled{
    padding: 2px 0;
    margin-bottom: 18px;
    position: relative;
    font-size: 13px;
}
ul.list-unstyled li{
    display: block;
    line-height: 24px;
}
ul.list-unstyled li a{
    color: #cea45f;
    font-weight: 700;
}
ul.list-unstyled li span{
    color: #cea45f;
}
.short-des{
    line-height: 20px;
    margin-bottom: 12px;
    padding: 23px 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    font-weight: lighter;
}
.module-title {
    position: relative;
    display: block;
    margin-top: 34px;
    margin-bottom: 20px;
    text-align: left;
}
.module-title h2 {
    position: relative;
    text-transform: capitalize;
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
}

.social-sharing li a:before {
    font-family: "FontAwesome";
    font-size: 16px;
    display: inline-block;
    background: transparent;
    margin-right: 5px;
}

.social-sharing li.pinterest a:before {
    content: "\f0d2";
}

.social-sharing li.twitter a:before {
    content: "\f099";
}

.social-sharing li.facebook a:before {
    content: "\f09a";
}
.social-sharing li.googleplus a:before {
    content: "\f0d5";
}

.social-sharing ul li{
    list-style: none;
    display: inline-block;
}
.social-sharing li:hover a {
    color: #cea45f;
}

.social-sharing li a {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    color: #b4b4b4;
    margin-right: 15px;
    white-space: normal;
    text-indent: 0;
    overflow: hidden;
    font-size: 0;
    padding: 0;
}

.contact-btn{
    background: #1e1e1e;
    border: none;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 12px;
    font-weight: 500;
    cursor: pointer;
}

.download-btn{
    background-color: DodgerBlue;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
}

.download-btn a{
    color: white;
}
.download-btn:hover{
    background-color: RoyalBlue;
}

/*----------------------------------------------------------*/

@media only screen and (max-width: 768px) {
    section .col-md-3 {
        display: none;
    }

    .toolbar select {
        padding: 5px 5px;
    }

    .breadcrumb {
        display: none;
    }

    .scroll-nav .megamenu {
        display: none;
    }

    .show-style {
        display: none;
    }

    .btn-filter {
        display: block;
    }

    .megamenu-drop .item-menu {
        display: block;
    }

    .megamenu-drop .popup {
        position: static;

    }

    .p-carousel-item{
        height: 300px;
    }

    .p-carousel-item .carousel-box-title span{
        font-size: 16px;
    }
    .btn-carousel-show {
        font-size: 14px;
        padding: 4px 10px;
        background: #1e1e1e;
        border: none;
        text-transform: uppercase;
    }
    .slogan {
        width: 100%;

    }

}

@media only screen and (max-width: 600px) {
    .p-carousel-item{
        height: 200px;
    }
}