

.breadcrumb{
    background: #f1f3f5;
}

.mybreadcrumb{
    margin-left: 20px;
    padding: 40px 0;
    font-size: 14px;
}


.mybreadcrumb a{
    color: cadetblue;
}


aside .categories{
    padding: 30px 15px;
    border-radius: 1px;
    border: 0.5px solid rgba(58,50,63,0.2);
}

aside .categories > ul > li{
    border-bottom: 1px solid rgba(63,60,57,0.21);
}

aside .filter{
    padding: 15px;
    border-radius: 1px;
    border: 0.5px solid rgba(58,50,63,0.2);
}

aside h5{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #1e1e1e;
    text-transform: capitalize!important;
    margin-bottom: 10px
}
aside ul{
    padding: 0;
    margin-bottom: 0;
}

aside .categories > ul > li{
    list-style: none;
    padding: 15px 0;
    color: #1e1e1e;
    cursor: pointer;
    font-size: 12px;
}

aside .categories  ul  li  ul >li{
    display: block;
    padding: 4px 0;
}

.d-categories{
    display: none;
    padding-left: 15px;
}
aside ul li{
    text-decoration: none;
    list-style: none;
}

aside ul li a{
    color: #1e1e1e;
    font-weight: 300;
    cursor: pointer;
}


aside ul > li:hover > a {
    color: #f72524;
}

aside ul > li:hover >label{
    color: #f72524;
}

.filter ul li{
    padding: 5px;
    font-size: 14px;
}

.filter ul li a{
    padding-left: 10px;
}

input[type="number"]{
    width: 74px;
    border: 1px solid rgba(49,49,44,0.46);
    border-radius: 5px;
    outline: none;
    background-color: white;
    font-size: 12px;
}


.filter-price{
    margin-top: 20px;
    border-bottom: 2px solid rgba(49,49,44,0.18);
}


.filter-price button{
    background-color: #f72524;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}


[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: static;
    opacity: 1;
    pointer-events: auto;
}

.capacity{
    margin-top: 20px;
    border-bottom: none;

}


/*Start Custom-checkbox*/
.Custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

.Custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px;
    border: 0.5px solid rgba(0,0,0,0.46);
}

.Custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.Custom-checkbox input:checked ~ .checkmark {
    background: #0b93ff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.Custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.Custom-checkbox .checkmark:after {
    left: 5px;
    top: .8px;
    width: 3.5px;
    height: 9px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
}

/*End Custom-checkbox*/




.toolbar{
    height: 60px;
}

.toolbar ul li{
    float: left;
    list-style: none;
    padding: 0 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.28);
    cursor: pointer;

}
.toolbar ul .active{
    color: rgba(0,0,0,0.8);
}

.toolbar ul li:active{
    color: rgba(0,0,0,0.8);
}

.toolbar select{
    background: none;
    border: 1px solid rgba(63,60,57,0.21);
    padding: 5px 30px;
    outline: none;
    font-size: 14px;
    color: #1e1e1e;

}

.btn-filter{
    display: none;
}

.btn-filter i{
    font-size: 13px;
}

a{
    text-decoration: none;
}
/*color-select*/
.select-color h5{
    margin-top: 20px;
    border-bottom: none;
    margin-left: 0px;
}
.select-color a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #1e1e1e;

}
.list-color{
    display:inline-block;
    margin: 0 10px;
}

.list-color a{
    border-radius: 50%;
}
.select-color{
    border-top: 2px solid rgba(49,49,44,0.18);
}
/*
style material
 */
.material h5{
    padding-top: 20px;
    border-top: 2px solid rgba(49,49,44,0.18);
    border-bottom: none;
}
/*
style shape
 */
.shape{
    margin-top: 20px;
    border-top: 2px solid rgba(49,49,44,0.18);
    border-bottom: none;
    padding-top: 20px;
}

/*
card
 */

.card-body h6 a{
    line-height: 20px;
    letter-spacing: .02em;
    display: block;
    overflow: hidden;
    color: #1e1e1e;
    font-size: 14px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
}
.card button:hover{
    color: white;
    background-color: #cea45f;
    border-color: #cea45f;
}
.card-title a{
    font-size: 22px;
    color: #1e1e1e;
}
.card-title a:hover{
    color: white;
    color: #cea45f;
}
.card-text{
    font-size: 15px;
    color: #1e1e1e;
}
.card button{
    border-color: #cea45f;
}
.center a{
    color: #cea45f;
}
.center a:hover{
    background-color: #cea45f;
    color: white;
}



/*_______________________________*/

aside .categories > ul > li:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

/*_______________________________*/


@media only screen and (max-width: 768px) {

    section .col-md-3{
        display: none;
    }

    .toolbar select{
        padding: 5px 5px;
    }
    .breadcrumb{
        display: none;
    }
    .scroll-nav .megamenu{
        display: none;
    }
    .show-style{
        display: none;
    }
    .btn-filter{
        display: block;
    }
    /*body {*/
        /*background-color: lightblue;*/
    /*}*/
}