.mybreadcrumb{
    margin-left: 10px;
    height: 40px;
    font-size: 14px;

}

.mybreadcrumb a{
    color: cadetblue;
}

aside{
    background-color: #f8f8f8;

}

aside h5{
    font-weight: bold;
    margin-left: 10px;
}

aside ul li{
    list-style: none;
}

aside ul li a{
    color: #1e1e1e;
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
}

aside ul li {
    color: #1e1e1e;
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
}

aside ul li:hover{
    color: #f72524;
}

aside ul li a:hover{
    color: #f72524;
}

.col-aside div{

}

input[type="number"]{
    width: 74px;
    border: 1px solid rgba(49,49,44,0.46);
    border-radius: 5px;
    outline: none;
    background-color: white;
    font-size: 12px;
}

.categories{
    border-bottom: 2px solid rgba(49,49,44,0.18);
}

.filter-price{
    margin-top: 20px;
    border-bottom: 2px solid rgba(49,49,44,0.18);
}


.filter-price button{
    background-color: #f72524;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}


[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: static;
    opacity: 1;
    pointer-events: auto;
}

.capacity{
    margin-top: 20px;
    border-bottom: none;

}




/*?*/

/*.baner-prs{*/
/*height: 250px;*/
/*background-color: #0b2a41;*/
/*}*/


.toolbar{
    height: 60px;
    border: 1px solid rgba(0,0,0,0.28);
}

.toolbar ul li{
    float: left;
    list-style: none;
    padding: 0 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.28);
}
.toolbar ul .active{
    color: #000;
}

.toolbar ul li:active{
    color: #000;
}

.toolbar select{
    background: none;
    border: none;
    outline: none;
    width: 100px;

}
a{
    text-decoration: none;
}