<footer class="site-footer border-top">
    <div class="container" >
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Về chúng tôi</h6>
                <p class="text-justify">PETBot là một trong những doanh nghiệp nổi tiếng tham gia vào
                    sản xuất, cung cấp và xuất khẩu nhiều loại Chai PET / PP / PC. Các
                    công ty có các đơn vị sản xuất hiện đại của chai PET.
                    Họ có nhà máy sản xuất chai PET. Có sẵn ở dạng tùy chỉnh, máy của họ
                    được sử dụng bởi một số công ty sản xuất để làm nước uống đóng gói,
                    hóa chất gia dụng, dược phẩm, dầu ăn, rượu, chăm sóc thỏ, thuốc trừ sâu, vv</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Sản Phẩm</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">Chai nhựa</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">Hũ nhựa PET</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">Chai NHựa Tiếp</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Hũ Nhữa Cái Nữa</a></li>
                    <!--<li><a href="http://scanfcode.com/category/android/">Android</a></li>-->
                    <!--<li><a href="http://scanfcode.com/category/templates/">Templates</a></li>-->
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>liên Hệ</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/"><i class="fa fa-home" aria-hidden="true"></i><span class="ml-2">Số 8, Tòa nhà Detech, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, Hà Nội</span></a></li>
                    <li><a href="http://scanfcode.com/contact/"><i class="fa fa-envelope" aria-hidden="true"></i><span class="ml-2">petbot@gmail.com</span></a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/"><i class="fa fa-phone" aria-hidden="true"></i><span class="ml-2">+088888888</span></a></li>
                    <!--<li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>-->
                    <!--<li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>-->
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
                    <a href="#">kanpTeam</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>